doctype html
html
  head
    block title
      title 换量记录平台
    block head
      include ./include/head.jade
  body
    block content
      include ./navbar/navbar.jade
    block foot
      include ./include/foot.jade
