.row
  nav.navbar.navbar-default
    .container-fluid
      .navbar-header
        a.navbar-brand(href='#') 换量记录平台
      .collapse.navbar-collapse
        ul.nav.navbar-nav#navigator
          li
            a(href='#') 换量记录
          li
            a(href='#') 合作方管理
        ul.nav.navbar-nav.navbar-right
          li
            a(href='#') wadexie(谢炜)
